body {
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 80px; /* Altura del header fijo para que no tape el titulo */
    padding: 4rem;
    padding-bottom: 4rem;
}

.navbar-brand span{
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#heroCarousel img {
    max-height: 600px;
    object-fit: cover;
}

h2{
    font-weight: 700;
    color: #0d6efd;
    margin-bottom: 1rem;
}

p{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333
}

.btn {
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
}

.btn-outline-primary:hover{
    background-color: #0d6efd;
    color: #fff;
}

.table {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.table th {
    background-color: #f8f9fa;
}

footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 1rem;
}




.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 1rem;
}



@media (max-width: 768px) {
    section {
        padding: 2rem;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}